n
n
<div class="table-container">
  <table id="miTabla" datatable class="row-border hover">
    <thead>
      <tr>
        <th>Common Name</th>
        <th>Scientific Name</th>
        <th>Photo</th>
        <th>Average Age</th>
        <th>Domesticated</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Siamese</td>
        <td>Felis catus</td>
        <td><img src="assets/image.png" alt="Siamese"></td>
        <td>12-15 years</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>Persian</td>
        <td>Felis catus</td>
        <td><img src="assets/image2.png" alt="Persian"></td>
        <td>10-17 years</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>Maine Coon</td>
        <td>Felis catus</td>
        <td><img src="assets/image3.png" alt="Maine Coon"></td>
        <td>12-15 years</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>Bengal</td>
        <td>Felis catus</td>
        <td><img src="assets/image4.png" alt="Bengal"></td>
        <td>12-16 years</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>Ragdoll</td>
        <td>Felis catus</td>
        <td><img src="assets/image5.png" alt="Ragdoll"></td>
        <td>12-17 years</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>Scottish Fold</td>
        <td>Felis catus</td>
        <td><img src="assets/image6.png" alt="Scottish Fold"></td>
        <td>11-14 years</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>British Shorthair</td>
        <td>Felis catus</td>
        <td><img src="assets/image7.png" alt="British Shorthair"></td>
        <td>12-20 years</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>Norwegian Forest</td>
        <td>Felis catus</td>
        <td><img src="assets/image8.png" alt="Norwegian Forest"></td>
        <td>14-16 years</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>Russian Blue</td>
        <td>Felis catus</td>
        <td><img src="assets/image4.png" alt="Russian Blue"></td>
        <td>15-20 years</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>Sphynx</td>
        <td>Felis catus</td>
        <td><img src="assets/image.png" alt="Sphynx"></td>
        <td>8-14 years</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>Birman</td>
        <td>Felis catus</td>
        <td><img src="assets/image2.png" alt="Birman"></td>
        <td>12-16 years</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>Abyssinian</td>
        <td>Felis catus</td>
        <td><img src="assets/image3.png" alt="Abyssinian"></td>
        <td>12-16 years</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>American Shorthair</td>
        <td>Felis catus</td>
        <td><img src="assets/image4.png" alt="American Shorthair"></td>
        <td>15-20 years</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>Oriental Shorthair</td>
        <td>Felis catus</td>
        <td><img src="assets/image5.png" alt="Oriental Shorthair"></td>
        <td>12-15 years</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>Egyptian Mau</td>
        <td>Felis catus</td>
        <td><img src="assets/image6.png" alt="Egyptian Mau"></td>
        <td>12-16 years</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>Devon Rex</td>
        <td>Felis catus</td>
        <td><img src="assets/image7.png" alt="Devon Rex"></td>
        <td>9-15 years</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>Manx</td>
        <td>Felis catus</td>
        <td><img src="assets/image8.png" alt="Manx"></td>
        <td>8-14 years</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>Tonkinese</td>
        <td>Felis catus</td>
        <td><img src="assets/image5.png" alt="Tonkinese"></td>
        <td>10-16 years</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>Balinese</td>
        <td>Felis catus</td>
        <td><img src="assets/image.png" alt="Balinese"></td>
        <td>12-16 years</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>Exotic Shorthair</td>
        <td>Felis catus</td>
        <td><img src="assets/image2.png" alt="Exotic Shorthair"></td>
        <td>12-15 years</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>Turkish Van</td>
        <td>Felis catus</td>
        <td><img src="assets/image3.png" alt="Turkish Van"></td>
        <td>13-17 years</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>Selkirk Rex</td>
        <td>Felis catus</td>
        <td><img src="assets/image4.png" alt="Selkirk Rex"></td>
        <td>10-15 years</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>Singapura</td>
        <td>Felis catus</td>
        <td><img src="assets/image5.png" alt="Singapura"></td>
        <td>12-15 years</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>Chartreux</td>
        <td>Felis catus</td>
        <td><img src="assets/image6.png" alt="Chartreux"></td>
        <td>10-15 years</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>American Curl</td>
        <td>Felis catus</td>
        <td><img src="assets/image7.png" alt="American Curl"></td>
        <td>12-16 years</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>Ojos Azules</td>
        <td>Felis catus</td>
        <td><img src="assets/image8.png" alt="Ojos Azules"></td>
        <td>10-15 years</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>Himalayan</td>
        <td>Felis catus</td>
        <td><img src="assets/image5.png" alt="Himalayan"></td>
        <td>12-15 years</td>
        <td>Yes</td>
    </tr>
    <tr>
        <td>Turkish Angora</td>
        <td>Felis catus</td>
        <td><img src="assets/image.png" alt="Turkish Angora"></td>
        <td>12-17 years</td>
        <td>Yes</td>
    </tr>
    <tr>
        <td>LaPerm</td>
        <td>Felis catus</td>
        <td><img src="assets/image2.png" alt="LaPerm"></td>
        <td>10-15 years</td>
        <td>Yes</td>
    </tr>
    <tr>
        <td>American Bobtail</td>
        <td>Felis catus</td>
        <td><img src="assets/image3.png" alt="American Bobtail"></td>
        <td>13-15 years</td>
        <td>Yes</td>
    </tr>
    
    </tbody>
  </table>
</div>
