<div class="container">
  <table id="arbolesTable" class="display" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Nombre Común</th>
        <th>Nombre Científico</th>
        <th>Foto</th>
        <th>Edad Promedio</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Roble</td>
        <td>Quercus robur</td>
        <td><img src="assets/descargar (1).jpeg" alt="Roble"></td>
        <td>200-300 años</td>
      </tr>
      <tr>
        <td>Pino</td>
        <td>Pinus spp.</td>
        <td><img src="assets/descargar (2).jpeg" alt="Pino"></td>
        <td>100-500 años</td>
      </tr>
      <tr>
        <td>Abeto</td>
        <td>Abies alba</td>
        <td><img src="assets/descargar (3).jpeg" alt="Abeto"></td>
        <td>50-100 años</td>
      </tr>
      <tr>
        <td>Álamo</td>
        <td>Populus alba</td>
        <td><img src="assets/descargar.jpeg" alt="Álamo"></td>
        <td>50-70 años</td>
      </tr>
      <tr>
        <td>Olmo</td>
        <td>Ulmus minor</td>
        <td><img src="assets/OIP.jpeg" alt="Olmo"></td>
        <td>100-150 años</td>
      </tr>
    </tbody>
  </table>
</div>
