<div class="container mx-auto p-6 bg-gray-100 rounded-xl shadow-lg overflow-hidden">
  <table datatable [dtOptions]="dtOptions" class="table-auto w-full text-sm text-left text-gray-800">
    <thead>
      <tr class="bg-gradient-to-r from-green-500 to-teal-500 text-white">
        <th class="px-4 py-2 text-center">ID Sesión</th>
        <th class="px-4 py-2 text-center">Email Cliente</th>
        <th class="px-4 py-2 text-center">Nickname</th>
        <th class="px-4 py-2 text-center">IP Cliente</th>
        <th class="px-4 py-2 text-center">IP Servidor</th>
        <th class="px-4 py-2 text-center">MAC Cliente</th>
        <th class="px-4 py-2 text-center">MAC Servidor</th>
        <th class="px-4 py-2 text-center">Estado</th>
        <th class="px-4 py-2 text-center">Último Acceso</th>
        <th class="px-4 py-2 text-center">Fecha Creación</th>
        <th class="px-4 py-2 text-center">Duración</th>
        <th class="px-4 py-2 text-center">Inactividad</th>
      </tr>
    </thead>
    <tbody>
      <!-- Los datos se cargarán automáticamente aquí -->
      
    </tbody>
  </table>
</div>
