<div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-6">
  <div
    *ngFor="let tarjeta of tarjetas"
    class="bg-gradient-to-br from-[#6A4C92] to-[#9B59B6] rounded-lg p-6 shadow-lg transform transition-all duration-300 hover:scale-105 hover:shadow-xl relative overflow-hidden"
  >
    <h3 class="text-lg text-white font-semibold mb-3 border-b border-gray-300 pb-2">{{ tarjeta.titulo }}</h3>
    <p class="text-gray-200 text-sm mb-4 leading-relaxed">{{ tarjeta.descripcion }}</p>
    
    <a
      [routerLink]="tarjeta.ruta"
      class="absolute bottom-4 left-1/2 transform -translate-x-1/2 text-center bg-white text-[#6A4C92] font-medium px-4 py-2 rounded-lg shadow-md hover:bg-[#9B59B6] hover:text-white transition-all duration-200 text-sm"
    >
      Ver Más
    </a>
  </div>
</div>
