app-practica9-aux {
  display: block;
  padding: 16px;
  background-color: #4c9261;
  color: #fff; /* Texto blanco */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  text-align: center;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

app-practica9-aux:hover {
  background-color: #3c832e; /* Cambio de color al pasar el mouse */
  transform: translateY(-5px); /* Efecto de desplazamiento */
}

p {
  font-size: 1.2rem;
  color: #333; /* Color gris oscuro para el texto */
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

p span {
  color: #4c9254; /* Color morado para el texto dentro de span */
}
