<div class="container" style="overflow: auto;">
  <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered" style="width:100%">
    <thead>
      <tr>
        <th>ID Sesión</th>
        <th>Email Cliente</th>
        <th>Nickname</th>
        <th>IP Cliente</th>
        <th>IP 
          Servidor</th>
        <th>MAC Cliente</th>
        <th>MAC Servidor</th>
        <th>Estado</th>
        <th>Último Acceso</th>
        <th>Fecha Creación</th>
        <th>Duración</th>
        <th>Inactividad</th>
      </tr>
    </thead>
    <tbody>
      <!-- Los datos se cargarán automáticamente aquí -->
    </tbody>
  </table>
</div>
