<table id="catsTable" class="display" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Common Name</th>
      <th>Scientific Name</th>
      <th>Image</th>
      <th>Average Age</th>
      <th>Domesticable</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cat of cats">
      <td>{{ cat.common_name }}</td>
      <td>{{ cat.scientific_name }}</td>
      <td><img [src]="cat.image_url" alt="{{ cat.common_name }}" width="50" style="max-height: 50px; object-fit: cover;"></td>
      <td>{{ cat.average_age }}</td>
      <td>{{ cat.is_domesticable ? 'Yes' : 'No' }}</td>
    </tr>
  </tbody>
</table>
